.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 16px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #f8f8f8;
  width: 100%;
}

.badge {
  background-color: orange;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.imageContainer {
  flex: 0 0 auto;
  width: 150px;
  height: 180px;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.title {
  margin: 0;
  font-size: 14px;
  color: #f4f1f1;
}

.description {
  margin: 3px 0 0;
  color: #f8f8f8;
  font-size: smaller;
  margin-bottom: 20px;
 width:200px; /* Ensure long words break correctly */
}

.time {
  font-size: 8px;
  color: #fcf7f7;
  position: absolute;
  bottom: 10px;
  right: 12px;
}

.shareIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  color: #333;
  right: 12px;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }

  .imageContainer {
    width: 120px;
    height: 150px;
  }

  .shareIcon {
    width: 20px;
    height: 20px;
    color: #333;
  }

  .time {
    font-size: 10px;
    bottom: 8px;
    right: 8px;
  }

  .description {
    margin: 3px 0 0;
    color: #fdf6f6;
    font-size: xx-small;
    margin-bottom: 20px;
    width: 160px;
  }
}
@media (max-width: 350px) {
  .card {
    max-width: 100%;
  }

  .imageContainer {
    width: 120px;
    height: 150px;
  }

  .shareIcon {
    width: 20px;
    height: 20px;
  }

  .time {
    font-size: 10px;
    bottom: 8px;
    right: 8px;
  }

  .description {
    margin: 3px 0 0;
    color: #f8f5f5;
    font-size: xx-small;
    margin-bottom: 20px;
    width: 130px;
  }
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
