



:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 

    background-color: linear-gradient(45deg, #d688f2, #498bee, #72b6e4, #f05297);;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sidebar {
  
  width: 250px;
  background-color: #031e2e;
  padding: 20px;
  /* border: 2px solid rgb(57, 146, 5); */
  
}

.sidebar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__menu-item {
  margin-bottom: 10px;
}

.sidebar__menu-item a {
  color: #b5df7f;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar__menu-item a:hover {
  background-color: #464141;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
 
  flex: 1;
}

.main {
  flex: 1;
  padding: 20px;
  height: 100%;
}

/* header{
  padding: 10px;
  background-color: #5198f5;
} */
footer {
  padding: 20px;
  background-color:#031e2e;;
}
.grid_one{
 
  width: 100%;
  justify-content: center;
  /* border: 2px solid rgb(57, 146, 5); */
}
.header_one{
  
 height: 10%;
 width: 100%;
     /* border: 2px solid rgb(10, 194, 25); */
     background-color: #032b35;;
    
}
.main_one{
  height: 80%;
  flex: 1 1 auto;
  overflow-y: auto;

  
}
.footer_one{
 height: 10%;
  background-color: #032b35;;
}


.menu__icon{
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 20%;
  padding-left: 60%; */
  padding-bottom: 45px;
    /* border: 2px solid rgb(194, 87, 10); */
}

.logo_one{
  /* border: 2px solid rgb(73, 45, 236); */

}
.header__one{
 

  padding-right: 20px;
  display:flex;
  justify-content:space-between;
  width:100%;
  column-gap: 10px;
  
}

.sidebar_open {
  background-color: #031e2e;
  width: 60px;
}

.sidebar_open .logo_one{
  display: none;
}
.sidebar_open .sidebar__menu-item {
  display: none;
}

.sidebar_open_header .sidebar{
  display: none;
}

.sidebar_close .sidebar{
  display: none;
  width: 250px;
  background-color: #031e2e;
  padding: 20px;
  /* border: 2px solid rgb(57, 146, 5); */
}

.sidebar_close .sidebar__menu{
  display: none;
}

.gender{
  margin: 10%;
  display:flex;
  justify-content:center;
  column-gap: 10px;
}
.male {
 
}
@media (max-width:450px) {
.sidebar{
  
}

.header_one{
 
  height: 80px;
  width: 100%;  
  background-color: #032b35;
  display:flex;
  justify-content: space-around;
  font-size: x-small;    
     
 }

.header__one{
  /* display:grid;
  justify-content:center;
  width:100%;
  margin-left: 10px;
  border: 2px solid rgb(236, 83, 45); */
  
}


}


@media (max-width:350px) {
 
  
  .header__one{
    display:flex;
    justify-content:center;
    width:100%;
 font-size: x-small;
  
   
    
  }
  
  
  }







::after,
::before {
  box-sizing: border-box;
}



h1 {
  font-size: 23px;
}

.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}
.form .control {
  margin: 0 0 24px;
}
.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.form .control input:hover, .form .control input:focus {
  outline: none;
  border: 0;
}
.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.block-cube {
  position: relative;
}
.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}
.block-cube .bg-top .bg-inner {
  bottom: 0;
}
.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}
.block-cube .bg-right {
  position: absolute;
  background: #020024;
  background: #00d4ff;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
  left: 0;
}
.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.block-cube .text {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  background: rgba(255, 255, 255, 0.5);
  transition:  0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  background: rgba(255, 255, 255, 0.8);
}
.block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 15px;
  width: 100%;
  z-index: 111;
}
.credits a {
  opacity: 0.6;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}
.credits a:hover {
  opacity: 1;
}

.responsive_button{
  margin-top: 50px;
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }
}
@media (max-width: 600px) {
  .responsive-text {
    font-size: 0.9rem; 
    line-height: "1px";/* Adjust the font size for smaller screens */
  }
  .responsive_button{
    
    font-size: 10px;
  padding: 8px 12px;
  margin-top: -10px;
  }
 
}
.card_b{
  color: #c9e6ec;
  background-color: #c7dee2;
  width: 120px;
  margin: 2px;
}
.card_info{
  background-color: rgb(6, 9, 56);
  color: #fff;
  margin: 2px;
}
/* @media (max-width: 450px) {
.card_style{
  width: 6000px !important;
  display: 'flex',
  
}
 
} */

.contact_topic{
  justify-content: center;
  display: flex;
 background-color: #3f7df0;
  color: #ffffff;
}

.contact-container {
  background-image: url('/media/newien.jpg'); /* Replace with your image path */
  background-size: cover; /* or background-size: contain; */
  background-repeat: no-repeat;
  background-position: center center;
  height: 35vw;
  margin-top: 10px;
  
  /* Add other styles as needed */
}
.step{
  background-color: #fff;
 padding-bottom: 10px;
  justify-content: center;
  
}
.step_heading{
  color: #020024;
  justify-content: center;
  display: flex;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional: Add some spacing between the cards */
  gap: 10px; /* Adjust as needed */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Optional: Add some spacing between the cards */
  gap: 10px; /* Adjust as needed */


}

.cardtemp {
  /* Optional: Style for the cards */
  border: 1px solid #ccc;
  color: #020024;
  background-color: rgb(182, 232, 247);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 140px;
  width: calc(33.33% - 10px); /* Adjust as needed */
}
.flex{
  display: flex;
  gap: 5px;
}
.oneinside{
  background-color: #ebe6a3;
  width: 60%;
  height: 120px;
  border-radius: 20px;
}
.secondside{
  background-color: #b6b3ee;
  width: 40%;
  height: 120px;
  border-radius: 20px;
}
.center{
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cardtemp {
    width: calc(50% - 10px); /* Adjust for 2 cards per row */
  }
}
@media screen and (max-width: 360px) {
  .cardtemp {
    width: calc(100% - 10px); /* Adjust for 2 cards per row */
  }
  .det_one{
    display: flex;
  font-size: smaller;
    text-align:left;
    justify-content:space-around
  }
}

@media screen and (max-width: 1000px) {
  
  .det_one{
    display: flex;
  font-size: smaller;
    text-align:left;
    justify-content:space-around
  }
}
@media screen and (max-width: 450px) {
  
  .det_one{
    display: flex;
  font-size:x-small;
    text-align:left;
    justify-content:space-around
  }

  .profile_InfoPopup_four{
    display: grid;
    justify-content: center;
  }
 

      .main_onen{
        display: grid;
        background-color: rgb(215, 216, 216);
        
      }
  
}



@media (min-width:460px) {
  .profile_InfoPopup_four{
    display: grid;
    justify-content: center;
  }

}




.det_one{
  display: flex;

  text-align:left;
  justify-content:space-around
}
.det_sec{

  display: flex;
  text-align:left;
  justify-content:flex-start
}


.profile_InfoPopup_one{
  
  justify-content: center;
}
.profile_InfoPopup_two{
width: 50%;
background-color: #cceaf0;
height:50vw;
}
.profile_InfoPopup_three{
  width: 50%;
background-color: #baf5c0;
height:50vw;
}
.profile_InfoPopup_four{
  display: flex;
}
.profile_InfoPopup_five{
  
  align-items:flex-end;
  justify-content: center;
}
.profile_InfoPopup_six{
  align-items:flex-end;
  justify-content: center;
}

.bone_image{

background-color: #bdceca;
}

.hedding_menu{
  justify-content: center;
  align-items: center;
  background-color: yellow;
  padding-left: 48%;
  color: black;
  text-shadow: #00000010;
  font-weight: 700;
}

.box {
  width: 100%; /* Width of the box */
  height: 100px; /* Height of the box */
  background-color: #3498db; /* Background color */
  border: 2px solid #2980b9; /* Border with color */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  color: #fff; /* Text color */
  text-align: center; /* Center text horizontally */
  line-height: 100px; /* Center text vertically */
}


.main_onen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_InfoPopup_img {
  flex: 1;
  width: auto;
}

.profile_InfoPopup_img img {
  width:400px;
  height: 400px;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  .main_onen {
    flex-direction: column; /* Stack items vertically */
  }

  .profile_InfoPopup_img {
    margin-bottom: 16px; /* Add spacing between the image and text */
  }
}

@media screen and (max-width: 470px) {
  .profile_InfoPopup_img img {
    width:200px;
    height: 300px;
  }
  
}

.profile_InfoPopup_watsapp {
  border: 2px solid rgb(65, 158, 21);
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20vw;
  margin-bottom: 10px;
}
.profile_InfoPopup_phoneNumber {
  border: 2px solid rgb(45, 145, 228);
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20vw;
  row-gap: 100px;
  column-gap: 100px;
  margin-bottom: 10px;

}

.divider {
  border-top: 5px solid #e0d2d2; /* Adjust width and color as needed */
}
.profile_InfoPopup_contactMain{
  row-gap: 100px;
  column-gap: 100px;
}

.YourPostColor{
  background-color: greenyellow;
}
.css-1633um2-MuiPaper-root{
  background-color: #e3e3e3fa !important;
}


.postPage_images_upload{
  background-color: #b6b3ee;
  height: 370px;
  border-radius: 70px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;

}
.textArea_t{
  margin-top: 60px;
  border-radius: 10px;
  width: 100%;
  height: 10vh;
  color: rgb(19, 1, 1);
  font-weight: 400;
  background-color: rgb(210, 236, 199);
}
/* components/AutoSizeTextBox.module.css */

.auto-size-textbox {
  resize: none;
  overflow: hidden;
  max-height: 200px;
  width: 100%;
  border: 1px solid #170909;
  padding: 10px;
  font-size: 16px;
  background-color: #e3e3e3fa;
  margin-top: 10px;
  border-radius: 3px;
  color: #032b35;
}
.slider_postPage_image{
  background-color: #b6b3ee;
  height: 300px;
  border-radius: 70px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.site-footer {
  
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-column {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  padding: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .footer-content {
    padding: 0 20px;
    display: grid;
    text-align: center;
    align-items: center;
  }
  .site-footer{
    text-align: center;
    align-items: center;
  }
  .footer-column {
    flex: 0 0 calc(33.33% - 20px);
  max-width: none !important;
  padding: 10px;
    
  }
}

/* styles.css */
/* styles.css */
.multi-color-gradient {
  background: linear-gradient(45deg, #5391b3, #033c6d, #023d65, #047350); /* Example multiple gradient colors */
 
}
.multi-color-gradient-menu{
  background-color: #00d4ff;
}
.margin-t{
  margin-top: 30px;
}

.header_about{
  align-items: center;
  text-align: center;
  padding-top: 100px;

}

.card-post{
  background: linear-gradient(45deg, #330430, #4c91ce, #0a4997, #6012b4);
  border: 0.3px solid #9038de;
  border-radius: 20px;
  padding: 20px;
  height: 230px;
  margin: 10px;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Flexbox container for cards */
.card-container-post {
  display: grid;
  flex-wrap: wrap;
  
}

/* Media query for smaller screens (mobile) */
@media screen and (max-width: 768px) {
  .card-post {
    flex-basis: 100%;
    height: 300px;
    align-items: center;
     justify-content: center;
    
     
  }
  .image_postView{
    flex-basis: 100%;
    margin-left: 40px;
  }
}
.image_postView{
  height: 150px;
  border-radius: 10px;
  width: 60%;
 
}
.image_postView_image {
  height: 150px;
  border-radius: 10px;
  width: 60%;
  
}

/* Basic button styles */
.custom-button {
  justify-content: center;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4CAF50; /* Change this to your preferred background color */
  color: #ffffff; /* Change this to your preferred text color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

/* Hover effect */
.custom-button:hover {
  background-color: #45a049; /* Change this to your preferred hover color */
  transform: translateY(-2px); /* Adjust the button's position on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Adjust the hover shadow */
}

/* Optional: Add more styles for active state */
.custom-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.centered-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* 100% of the viewport height */
}

.description{
  margin-top: 10%;
  border: #020024;
  background-color: #e2f18c;
}


/* CSS styles */
.cardn {
  /* Styles for the card */
  width: 100%; /* Adjust the width as needed */
  max-width: 300px; /* Maximum width of the card */
  border: 1px solid #ccc; /* Border for the card */
  border-radius: 30px; /* Rounded corners for aesthetics */
  overflow: hidden; 
  background: linear-gradient(45deg, #7e1a77, #6bb2f0, #70a4e4, #7b30cc);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Optional: Add some spacing between the cards */
  gap: 10px; 
  
  /* Hide overflow content */
}


.card-image {
  /* Styles for the image */
  margin-top: 7%;
  width: 230px; /* Fixed width for the image */
  height: 240px; /* Fixed height for the image */
  object-fit: cover; /* Maintain aspect ratio while covering the space */
  border-radius: 20px
}

.card-content {
  /* Styles for the content area */
  padding: 15px;
   /* Add padding for content */
}

.card-wrapper {
  /* Styles for the container of the card */
  display: grid;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  height: 40vh;
  /* Set height to full viewport height */
}

/* Responsive styles */
@media (min-width: 368px) {
  /* Adjustments for larger screens (e.g., tablets and desktops) */
  .cardn {
    max-width: 665px; /* Increase max-width for larger screens */
  }
}
@media (max-width: 550px) {
  /* Adjustments for larger screens (e.g., tablets and desktops) */
  .card-wrapper {
    /* Styles for the container of the card */
    display: grid;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 50vh;
    /* Set height to full viewport height */
  }
}

@media (max-height: 850px) {
  /* Adjustments for larger screens (e.g., tablets and desktops) */
  .card-wrapper {
    /* Styles for the container of the card */
    display: grid;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 65vh;
    /* Set height to full viewport height */
  }
}

@media (max-height: 660px) {
  /* Adjustments for larger screens (e.g., tablets and desktops) */
  .card-wrapper {
    /* Styles for the container of the card */
    display: grid;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 80vh;
    /* Set height to full viewport height */
  }
}


.social_button{
  display:flex;
}


.social-image{
  width: 30px;
  height: 30px;
}

.socialImages{
  width: 45px;
  height: 40px;
}
.drop_down_filter{
  color: rgb(92, 7, 7);
  justify-content:flex-end;
 
}



.app-bar-new {
 
  top: 0;
  left: 0;
  width: 100%;
position: fixed;
  
  z-index: 999; /* Adjust the z-index as needed */
  background-color: #fff; /* Set your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

.drop_down_filter {
  margin-top: 70px;
  border-radius: 10px;
  border: 1px solid #d40c0cdc;
  background: linear-gradient(45deg, #fafaf8, #fcfdfd, #fbfcfd, #fdf9f7);
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  /* Other styles */
}

.content_new {
  margin-top: 140px; /* Adjust based on the app bar height */
  margin-bottom: 40vh;
  overflow-y: auto; /* Enable vertical scroll for content */
  /* Other styles */
}
/* Define animation keyframes */
@keyframes heartBeatAnimation {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(4.3);
  }
  100% {
    transform: scale(8);
  }
}

/* Add a class for animation */
.heart-beat {
  animation: heartBeatAnimation 0.5s ease-in-out;
}

.smile-beat {
  animation: heartBeatAnimation 0.5s ease-in-out;
}

/* CSS to hide the image after animation */
.hide {
  display: none;
}

.card {
  /* Styles for the card container */
  position: relative;
  /* Other styles for the card */
}

.image-container {
  position: relative;
  /* Additional styles for the container holding the image and text */
}

.card-image {
  display: block;
  /* Other styles for the image */
}

.overlay-text {
  position: absolute;
  top: 100%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  border-radius: 200px;
  background-color: #d5f1f7;
  padding: 5px; /* Adjust padding as needed */
  /* Additional styles for the overlay text */
}
